@import "https://fonts.googleapis.com/css?family=Share+Tech+Mono";
@font-face {
  font-family: "Digital";
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot");
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7")
      format("svg");
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
-webkit-tap-highlight-color: transparent;
}

.App {
  text-align: center;
}

body {
  margin: 0;
  background-color: #f0f4f8;
  user-select: none;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  width: 240px;
  background-color: #fafafa;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  height: 423px;
  justify-content: center;
  width: 252px;
  border-radius: 14px;
  box-shadow: 0 3.2px 2.2px rgba(0, 0, 0, 0.02),
    0 7px 5.4px rgba(0, 0, 0, 0.028), 0 12.1px 10.1px rgba(0, 0, 0, 0.035),
    0 19.8px 18.1px rgba(0, 0, 0, 0.042), 0 34.7px 33.8px rgba(0, 0, 0, 0.05),
    0 81px 81px rgba(0, 0, 0, 0.07);
}

.display {
  position: relative;
  top: 5px;
  text-align: right;
  width: 100%;
  background-color: #fafafa;
  color: #4185f4;
  padding: 5px 10px;
  font-size: 44px;
  font-family: digital;
}

.equation {
  position: relative;
  top: 12px;
  min-height: 20px;
  background-color: #fafafa;
  padding: 10px;
  color: #b5becd;
  font-family: digital;
  text-align: right;
  width: 100%;
}

.divider-2 {
  border-bottom: 1px solid #fff;
  background-color: #dadada;
  height: 1px;
  margin: 0.5em 0px 1em;

  width: 100%;
}

.divider-2 span {
  display: block;
  /* width: 50px; */
  height: 1px;
  background-color: #dadada;
  width: 100%;
}

.nan {
  visibility: hidden;
}

.button-center {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;

  text-decoration: none;
  display: inline-block;

  stroke-width: 3%;
  /* outline: 2px solid blue; */
  transition: transform 0.08s linear;
  margin: 0;
  width: 60px;
  height: 60px;
}

.button-center a {
  width: fit-content;
  font-size: 28px;
  color: #30336b;
  font-family: "Fira Code", monospace;
  /* text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5); */
  top: -46px;
  left: 0px;
  position: relative;
  transition: transform 0.08s linear;
}


.button-math-equals {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;

  text-decoration: none;
  color: #515151;
  display: inline-block;

  stroke-width: 3%;
  /* outline: 2px solid blue; */
  transition: transform 0.15s linear;

  margin: 0;
  width: 60px;
  height: 60px;
}

.button-math-equals a {
  width: fit-content;
  font-size: 36px;
  font-family: "Fira Code", monospace;
  top: -52px;
  left: -1px;
  color: whitesmoke;
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
  position: relative;
  transition: transform 0.15s linear;
}


.button-math {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;

  text-decoration: none;
  color: #515151;
  display: inline-block;

  stroke-width: 3%;
  /* outline: 2px solid blue; */
  transition: transform 0.15s linear;

  margin: 0;
  width: 60px;
  height: 60px;
}

.button-math a {
  width: fit-content;
  font-size: 28px;
  font-family: "Fira Code", monospace;
  
  top: -46px;
  left: 0px;
  color: #4185f4;
  position: relative;
  transition: transform 0.15s linear;
}

.button-special {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;

  text-decoration: none;
  color: #515151;
  display: inline-block;

  stroke-width: 3%;
  /* outline: 2px solid blue; */
  transition: transform 0.15s linear;

  margin: 0;
  width: 60px;
  height: 60px;
}

.button-special a {
  width: fit-content;
  font-size: 28px;
  font-family: "Fira Code", monospace;
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
  top: -46px;
  left: 0px;
  color: white;
  position: relative;
  transition: transform 0.15s linear;
}

.button-center-active,
.button-math-equals:active,
.button-math:active,
.button-special:active,
.button-center:active {
  opacity: 0.8;
  transform: scale(0.95);
}

svg {
  stroke-width: 3px;
  /* outline: 2px solid blue; */
  transition: transform 0.15s linear;
}
